.container{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: yellow;
    padding: 1rem 0;
    position: relative;
    margin-top: 0;
}

.wrapper{
    display: flex;
    position: relative;
}

.wrapper_form_search_input{
    width: 80rem;
    height: 2rem;
}

.wrapper_form_search_submit{
    width: 1rem;
    height: 2.3rem;
    padding-left: 1.5rem;
    margin-left: -2.2rem;
    margin-top: 0rem;
    position: absolute;
}