.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    position: relative;
    padding: 0.6rem 0;
    margin-top: 0;
    left:0;
    width: 100%;
}

.wrapper{
    display: flex;
}

.wrapperLogo{
    margin-right: 3rem;
    margin-top: 0.1rem;
}

.wrapper_form_search_input{
    width: 50rem;
    height: 1.9rem;
    margin-top: 0.05rem;
    font-size: 16px;
}

.wrapper_form_search_submit{
    width: 2.5rem;
    height: 2.12rem;
    padding-left: 1.5rem;
    margin-left: -2.55rem;
    margin-top: 0.12rem;
    position: absolute;
    border: none;
    cursor: pointer;
}