.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position:static;
    text-align: center;
    margin-top: 5rem;
}

.card{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    height: auto;
    background: #ffffff;
    border:none;
    margin-bottom: 5rem;
    width: 70rem;
    padding: 1rem;
    margin-left: 0.1rem;
}

.item{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
}

.productPrice{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product{
    display: flex;
}


.titlePrice{
    display: flex;
    flex-direction: column;
    width: 297px;
    justify-content: flex-start;
    margin-right: 3.5rem;
    gap: 1rem;
}


.price{
    display: flex;
    font-size: 40px;
    color: rgba(0,0,0,.9);
}

.title{
    display: inline-block;
    font-size: 26px;
    font-weight: 560;
    text-align: left;
    width: 297px;
}

.productSell{
 display: flex;   
}

.button{
    width: 100%;
    height: 48px;
    padding: auto;
    background-color: #3b83bd;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin-top: 3rem;
    margin-left: 0.05rem;
}

.descriptionContainer{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    margin-top: 7rem;
}

.descriptionTitle{
    display: flex;
    font-size: 30px;
    font-weight: 500;
}

.description{
    margin-top: 2rem;
    font-weight: 300;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    text-align:start;
    width: 67.5%;
}

.load{
    margin-left: 5rem;
    margin-top: 15rem;
}