 
 .title{
    color: #333;
    font-size: 20px;
    text-align: center;
    margin-top: 1.645em;
    line-height: 1;
 }

 .redirect{  
    color: #666;
    font-size: 1rem;
    margin-top: 1.645em;
    text-decoration: none;
    width: auto;
}