.container{
    display: flex;
    justify-content: center;
    position:relative;
}

.card{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items:flex-start;
    justify-content: center;
    box-sizing: border-box;
    height: auto;
    background: #ffffff;
    border:none;
    margin-bottom: 5rem;
    width: 61.15rem;
    margin-top: 4rem;
    padding: 1rem;
    margin-left: 1rem;
}

.items{
    display: flex;
    flex-direction: column;
    gap: 45px;
    width: 100%;
}

.item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

.itemImg{
    cursor: pointer;
}

.itemPriceTitle{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    width: 100%;
    height: auto;
    margin-top: 3rem;
    margin-left: 1rem;
    cursor: pointer;
}


.itemPrice{
    display: flex;
    justify-content:left;
    align-items:flex-start;
    font-weight:500;
    font-size: 25px;
}

.itemTitle{
    display: flex; 
    text-align: left;
    letter-spacing: normal;
    margin-top: 1.5rem;
    width:440px;
    font-size: 22.5px;
    font-weight:350;
}

.itemState{
    display: flex;
    margin-left: 5rem;
    width: 330px;
    height: 30px;
    margin-top: 3.5rem;
    font-weight: 200;
}

.load{
    margin-left: 5rem;
    margin-top: 15rem;
}

.containerBad{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 150px;
}

.descriptionBad{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-right: 4rem;
}

.containerImgSearchBad{
    margin-top: 2rem;
}

.containerUlBad{
    display: flex;
    justify-content: left;
    align-items:flex-start;
    text-align: left;
    margin-right: 11rem;
}

.titleBad{
    font-size: 25px;
    font-weight: 600;
}

li{
    margin-top: 5px;
}
